
input[type='text'] { font-size: 16px; }
input[type='number'] { font-size: 16px; }
input[type='time'] { font-size: 16px; }
input[type='submit'] { font-size: 16px; }
input[type=number]{ width: 120px; }
input[type=text]{ width: 120px; }

body {margin:0;}
body {font-family: Arial, Helvetica, sans-serif;}
h1 {font-size: 1.5em;}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}


.settingsnavbar {
  overflow: hidden;
  background-color: #ddd;
  position: fixed;
  top: 47px;
  width: 100%;
}

.settingsnavbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
}

.settingsnavbar a:hover {
  background: #333;
  color: #f2f2f2;
}

.statusName {
    font-size: 3.0em;
}
.statusVal {
 font-size: 3.0em;
}